/Manifest.toml
.vscode/settings.json
data/*.npz
examples/Manifest.toml
docs/build
docs/Manifest.toml
cspell.json
Manifest-v*.toml
.JETLSConfig.toml
/LocalPreferences.toml
paper/paper.pdf
paper/AtmosphericModels_draft.pdf
